version: "2"
#
# Services
#
services:

  market-service:
      build: ./
      volumes:
        - ./configuration:/config
      ports:
        - 8448:8448
      networks:
          - localnet



# Networks
#
networks:
  localnet:
    # driver: bridge
    external: true