openapi: 3.0.0

info:
  title: Kafka Streams User Query microservice
  version: 1.0.0
  description: |-
    # Kafka Streams User Query Service
servers:
  - url: https://kafka.networknt.com

paths:
  /query/{userId}:
    get:
      operationId: getUser
      summary: Get a user by userId
      parameters:
        - name: userId
          in: path
          required: true
          description: The userId
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        '400':
          description: Unexpected error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Status"
      security:
        - user_auth:
            - user:r

components:
  securitySchemes:
    user_auth:
      type: oauth2
      description: This API uses OAuth 2.0 with the client credential grant flow.
      flows:
        clientCredentials:
          tokenUrl: 'https://localhost:6882/token'
          scopes:
            user:w: user write
            user:r: user read
  schemas:
    Status:
      type: object
      properties:
        statusCode:
          description: HTTP response code
          type: integer
        code:
          description: Code is the machine-readable error code
          type: string
        message:
          description: Error messsage
          type: string
        description:
          description: The detailed description of the error status
          type: string
      required:
      - statusCode
      - code
    User:
      type: object
      properties:
        userId:
          description: User Id
          type: string
        firstName:
          description: First Name
          type: string
        lastName:
          description: Last Name
          type: string
        country:
          description: Country
          type: string
      required:
      - userId
      - firstName
      - lastName
      - country
