# This handler is generic request handler for the OAuth 2.0 provider authorization code redirect.
# It receives the auth code and goes to the OAuth 2.0 provider to get the subject token. The jwt
# token is then sent to the browser with two cookies with splitting header/payload and signature.
# Another options is to keep the jwt in session and return sessionId to the browser. In either
# case, the csrf token will be send with a separate cookie.
---
# Indicate if the StatelessAuthHandler is enabled or not
enabled: true
# Once Authorization is done, which path the UI is redirected.
redirectUri:
# Request path for the authorization code handling.
authPath: /authorization
# Cookie domain
cookieDomain: localhost
# Cookie path
cookiePath: /
# Cookie maxAge
cookieMaxAge: 600
# Login uri, redirect to it once session is expired
cookieTimeoutUri: /login
# Cookie secured
cookieSecure: false