{
  "swagger" : "2.0",
  "info" : {
    "description" : "cors demo for get, post and put",
    "version" : "1.0.0",
    "title" : "cors demo",
    "contact" : {
      "email" : "stevehu@gmail.com"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host" : "cors.networknt.com",
  "basePath" : "/v1",
  "schemes" : [ "http" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "paths" : {
    "/getData" : {
      "get" : {
        "description" : "Return an array of strings",
        "operationId" : "getData",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/KeyValue"
              }
            }
          }
        },
        "security" : [ {
          "cors_auth" : [ "cors.r" ]
        } ],
        "x-accepts" : "application/json",
        "x-contentType" : "application/json"
      }
    },
    "/postData" : {
      "post" : {
        "description" : "Return an array of strings",
        "operationId" : "postData",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Key value pair",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/KeyValue"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "schema" : {
              "$ref" : "#/definitions/KeyValue"
            }
          }
        },
        "security" : [ {
          "cors_auth" : [ "cors.r", "cors.w" ]
        } ],
        "x-accepts" : "application/json",
        "x-contentType" : "application/json"
      }
    },
    "/putData" : {
      "post" : {
        "description" : "Return an array of strings",
        "operationId" : "putData",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Key value pair",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/KeyValue"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "schema" : {
              "$ref" : "#/definitions/KeyValue"
            }
          }
        },
        "security" : [ {
          "cors_auth" : [ "cors.r", "cors.w" ]
        } ],
        "x-accepts" : "application/json",
        "x-contentType" : "application/json"
      }
    }
  },
  "securityDefinitions" : {
    "cors_auth" : {
      "type" : "oauth2",
      "authorizationUrl" : "http://localhost:8080/oauth2/code",
      "flow" : "implicit",
      "scopes" : {
        "cors.w" : "write access",
        "cors.r" : "read access"
      }
    }
  },
  "definitions" : {
    "KeyValue" : {
      "type" : "object",
      "required" : [ "key", "value" ],
      "properties" : {
        "key" : {
          "type" : "string",
          "description" : "key"
        },
        "value" : {
          "type" : "string",
          "description" : "value"
        }
      }
    }
  }
}