{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "TODO list command service API",
        "description": "TODO list command service API is a microserice that serves command side endpoints for the TODO list example application built on top of light-eventuate.",
        "contact": {
            "email": "stevehu@gmail.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        }
    },
    "host": "todoq.networknt.com",
    "schemes": [
        "http"
    ],
    "basePath": "/v1",
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/todos": {
            "post": {
                "description": "Return a todo object with Id",
                "operationId": "add",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Todo"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "$ref": "#/definitions/Todo"
                        }
                    }
                },
                "security": [
                    {
                        "todo_auth": [
                            "todo.w"
                        ]
                    }
                ]
            },
            "put": {
                "description": "Return the updated todo object",
                "operationId": "update",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Todo"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "$ref": "#/definitions/Todo"
                        }
                    }
                },
                "security": [
                    {
                        "todo_auth": [
                            "todo.w"
                        ]
                    }
                ]
            }
        },
        "/todos/{id}": {
            "delete": {
                "description": "Delete a todo by Id",
                "operationId": "deleteById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of todo",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Invalid ID supplied"
                    },
                    "404": {
                        "description": "Todo not found"
                    }
                },
                "security": [
                    {
                        "todo_auth": [
                            "todo.w"
                        ]
                    }
                ]
            }
        }
    },
    "securityDefinitions": {
        "todo_auth": {
            "type": "oauth2",
            "authorizationUrl": "http://localhost:8080/oauth2/code",
            "flow": "implicit",
            "scopes": {
                "todo.w": "write todo"
            }
        }
    },
    "definitions": {
        "Todo": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "description": "a UUID generated"
                },
                "title": {
                    "type": "string",
                    "description": "title of todo"
                },
                "complete": {
                    "type": "boolean",
                    "default": false
                },
                "order": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        }
    }
}