openapi: 3.0.0
info:
  version: 1.0.0
  title: light-router post service
  license:
    name: MIT
servers:
  - url: 'https://router.networknt.com/v1'
paths:
  /postData:
    post:
      description: Parse the post body and return an OK
      operationId: postData
      requestBody:
        description: A Json body with different sizes
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/KeyValue'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/KeyValue'
              example:
                - key: key1
                  value: value1
                - key: key2
                  value: value2
      security:
        - demo_auth:
            - router.w
components:
  securitySchemes:
    demo_auth:
      type: oauth2
      description: This API uses OAuth 2 with the client credential grant flow.
      flows:
        clientCredentials:
          tokenUrl: 'https://localhost:6882/token'
          scopes:
            proxy.w: write
  schemas:
    KeyValue:
      type: object
      required:
        - key
        - value
      properties:
        key:
          type: string
          description: key
        value:
          type: string
          description: value
