{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "API DEMO for null value validation",
        "description": "This is a demo API to show how each handlers in the framework handles NULL value in the request body.",
        "contact": {
            "email": "stevehu@gmail.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        }
    },
    "host": "null-value.networknt.com",
    "schemes": [
        "http",
        "https"
    ],
    "basePath": "/v1",
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/data": {
            "post": {
                "description": "Check the data elements type and value in json format",
                "operationId": "postData",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Data object that needs to be added",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Data"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                }
            }
        }
    },
    "definitions": {
        "Data": {
            "type": "object",
            "required": [
                "id"
            ],
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
                "name": {
                    "type": "string"
                },
                "weight": {
                    "type": "number",
                    "format": "double"
                },
                "startDate": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "format": "date"
                },
                "endDate": {
                    "type": "string",
                    "format": "date"
                }
            }
        }
    }
}