{
  "swagger" : "2.0",
  "info" : {
    "description" : "A demo on how to connect, query and update Oracle/Mysql/Postgres.",
    "version" : "1.0.0",
    "title" : "Light-Java-Rest Database Tutorial",
    "contact" : {
      "email" : "stevehu@gmail.com"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host" : "database.networknt.com",
  "basePath" : "/v1",
  "schemes" : [ "http", "https" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "paths" : {
    "/queries" : {
      "get" : {
        "description" : "Multiple queries to database table",
        "operationId" : "getQueries",
        "parameters" : [ {
          "name" : "queries",
          "in" : "query",
          "description" : "Number of random numbers",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/RandomNumber"
              }
            }
          }
        },
        "security" : [ {
          "database_auth" : [ "database.r" ]
        } ],
        "x-accepts" : "application/json",
        "x-contentType" : "application/json"
      }
    },
    "/query" : {
      "get" : {
        "description" : "Single query to database table",
        "operationId" : "getQuery",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RandomNumber"
            }
          }
        },
        "security" : [ {
          "database_auth" : [ "database.r" ]
        } ],
        "x-accepts" : "application/json",
        "x-contentType" : "application/json"
      }
    },
    "/server/info" : {
      "get" : {
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation"
          }
        },
        "security" : [ {
          "database_auth" : [ "server.info.r" ]
        } ]
      }
    },
    "/updates" : {
      "get" : {
        "description" : "Multiple updates to database table",
        "operationId" : "getUpdates",
        "parameters" : [ {
          "name" : "queries",
          "in" : "query",
          "description" : "Number of random numbers",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/RandomNumber"
              }
            }
          }
        },
        "security" : [ {
          "database_auth" : [ "database.w" ]
        } ],
        "x-accepts" : "application/json",
        "x-contentType" : "application/json"
      }
    }
  },
  "securityDefinitions" : {
    "database_auth" : {
      "type" : "oauth2",
      "authorizationUrl" : "http://localhost:8888/oauth2/code",
      "flow" : "implicit",
      "scopes" : {
        "database.w" : "write database table",
        "database.r" : "read database table",
        "server.info.r" : "read server info"
      }
    }
  },
  "definitions" : {
    "RandomNumber" : {
      "type" : "object",
      "required" : [ "id", "randomNumber" ],
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "a unique id as primary key"
        },
        "randomNumber" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "a random number"
        }
      }
    }
  }
}